<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APPID" value="aa69195559bd4f88d79f9aadeb77a8f6" />
    <add key="APPURL" value="http://api.openweathermap.org/data/2.5/forecast?id={0}&amp;APPID={1}" />
  </appSettings>
</configuration>